body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background: #f3f3f3;
  color: #666;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h3{
  font-size: 1.6rem;
}

a:hover,
a:focus,
a:active{
  color: #487922;
  text-decoration: none;
}

main, .site-content{
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
